<% if @play.errors.any? %>
  <% @play.errors.full_messages.each do |message|%>
    <p><%= message %> </p>
  <% end %>
<% end %>

<%= simple_form_for @play, html: { multipart: true } do |f| %>
  <%= f.input :image, as: :file, label: 'Add Image' %>
  <%= f.select :category_id, options_for_select(@categories), { prompt: 'Select Category' }, class: 'form-select' %>
  <%= f.input :title, label: 'Play Title' %>
  <%= f.input :description %>
  <%= f.input :director %>
  <%= f.button :submit %>
<% end %>