<h1 class="current-category"><%= params[:category] %></h1>

<% if @plays.count == 0 %>
  <h3>There are no plays in this category</h3>
<% else %>
 <div class="row">
   <% @plays.each do |play| %>
     <div class="col-md-3">
       <%= link_to play_path(play) do %>
         <% if play.image.attached? %>
           <%= image_tag play.image, class: 'img-fluid' %>
         <% else %>
           <%= image_tag "", alt: "#{play.title} image" %>
         <% end %>
       <% end %>
       <h2><%= link_to play.title, play_path(play) %></h2>
     </div>
   <% end %>
 </div>
<% end %>

<%= link_to 'Add Play', new_play_path %>