<div class="row">
  <div class="col-md-4">
    <% if @play.image.attached? %>
      <%= image_tag @play.image, class: 'img-fluid' %>
    <% else %>
      <%= image_tag "", alt: "#{@play.title} image" %>
    <% end %>
  </div>
  <div class="col-md-8">
    <div class="play-info">
      <h2 class="play-title"><%= @play.title %></h2>
      <h3 class="play-director"><span>From </span><%= @play.director %></h3>
      <h4 class="play-director"><%= @play.category.name %></h4>
      <p class="avg-rating">Average Rating</p>
      <div class="average-review-rating">
        <% @average_review.to_i.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <%= "<i class='fas fa-star-half'></i>".html_safe if @half_star.present? %>
        <%= @average_review %>
      </div>
      <span class="number-of-reviews"><b>From: </b><%= @play.reviews.count %> reviews</span>
      <p class="play-desc"><%= @play.description %></p>
    </div>
  </div>
</div>
<div class="links btn-group mt-5">
  <%= link_to 'Back', root_path, class: 'btn btn-custom' %>
  <% if user_signed_in? && @play.user_id == current_user.id %>
    <%= link_to 'Edit Play', edit_play_path(@play), class: 'btn btn-custom' %>
    <%= link_to 'Delete', play_path(@play), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-custom' %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="reviews">
      <h1><%= @play.reviews.count == 0 ? 'No reviews yet' : 'Reviews' %></h1>
      <%= render @play.reviews %>
      <div>
        <%= link_to 'Add Reviews', new_play_review_path(@play), class: 'btn btn-custom' %>
      </div>
    </div>
  </div>
</div>
