<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |message|%>
    <p><%= message %> </p>
  <% end %>
<% end %>

<%= simple_form_for([@play, @play.reviews.build]) do |f| %>
  <div id="rating-form">
    <label>Rating</label>
    <%= f.select :rating, options_for_select([
                                               ['★★★★★', 5, class: 'fas fa-star' ],
                                               ['★★★★', 4, class: 'fas fa-star' ],
                                               ['★★★', 3, class: 'fas fa-star' ],
                                               ['★★', 2, class: 'fas fa-star' ],
                                               ['★', 1, class: 'fas fa-star' ],
                                             ]), class: 'custom-select' %>
  </div>
  <%= f.input :comment %>
  <%= f.button :submit, class: 'btn btn-custom2' %>
<% end %>