<div class="review">
  <% review.rating.to_i.times do %>
    <i class="fas fa-star"></i>
  <% end %>

  <p class="review-comment"><%= review.comment %></p>

  <% if user_signed_in? && review.user_id == current_user.id %>
    <div class="links btn-group">
      <%= link_to 'Edit', edit_play_review_path(review.play, review), class: 'btn btn-custom' %>
      <%= link_to 'Destroy', play_review_path(review.play, review), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-custom' %>
    </div>
  <% end %>
</div>