<div class="offset-md-1 col-md-10">
  <div class="edit-review-form">
    <% if @review.errors.any? %>
      <% @review.errors.full_messages.each do |message|%>
        <p><%= message %> </p>
      <% end %>
    <% end %>
    <h1>Edit review</h1>
    <%= simple_form_for([@play, @review]) do |f| %>
      <div id="rating-form">
        <label>Rating</label>
        <%= f.select :rating, options_for_select([
                                                   ['★★★★★', 5, class: 'fas fa-star' ],
                                                   ['★★★★', 4, class: 'fas fa-star' ],
                                                   ['★★★', 3, class: 'fas fa-star' ],
                                                   ['★★', 2, class: 'fas fa-star' ],
                                                   ['★', 1, class: 'fas fa-star' ],
                                                 ], @review.rating), class: 'custom-select' %>
      </div>
      <%= f.input :comment %>
      <%= f.button :submit, class: 'btn btn-custom2' %>
    <% end %>
  </div>
</div>
