<!DOCTYPE html>
<html>
<head>
  <title>Broadwayapp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if notice.present? || alert.present? %>
  <div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container top-0 end-0 p-3">
      <% flash.each do |type, msg| %>
        <div class="toast" role='alert' aria-atomic="true" aria-live="assertive">
          <div class="d-flex">
            <div class="toast-body">
              <div>
                <%= msg %>
              </div>
            </div>
            <button type="button" class="btn-close btn-close-black me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <%= link_to 'Broadway', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownmenu1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort
            </a>
            <ul class="dropdown-menu m-0" aria-labelledby="dropdownmenu1">
              <li><%= link_to 'All', plays_path, class: "dropdown-item #{'active' unless params[:category].present?}" %></li>
              <% Category.all.each do |category| %>
                <li><%= link_to category.name, plays_path(category: category.name), class: "dropdown-item #{'active' if params[:category] == category.name}" %></li>
              <% end %>
            </ul>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to 'Add Play', new_play_path, class: 'btn' %></li>
          <% end %>
        </ul>
        <ul class="navbar-nav d-flex justify-content-between">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn' %></li>
          <% else %>
            <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: 'btn' %></li>
            <li class="nav-item"><%= link_to 'Log In', new_user_session_path, class: 'btn' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="mt-5">
  <div class="container">
    <%= yield %>
  </div>
</main>

</body>
</html>
